.header {
  height: 15vh;
  text-align: center;
}
.header h2 {
  margin: 0;

}
.header h1 {
  display: inline-block;
  padding-top: 10px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .header {
    height: 10vh;
    text-align: center;
  }
  .header h1
  {
    font-size: 24px;
  }
  .header h2 {
    font-size: 22px;
  }
}


@media only screen and (min-width: 768px) {
.nav-flex
{
  float: left;
  width: 20vw;
  height: 85vh;
}
}
