.header {
  top:0;
  position: sticky;
  height: 15vh;
  text-align: center;
  z-index: 2;
}
.header h2 {
  margin: 0;

}
.header h1 {
  display: inline-block;
  padding-top: 10px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .header {
    position: sticky;
    height: 15vh;
    text-align: center;
  }
  .header h1
  {
    font-size: 24px;
  }
  .header h2 {
    font-size: 22px;
  }
}

.nav-flex
{
  top: 15vh;
  position: sticky;
  z-index: 2;
}


@media only screen and (min-width: 768px) {
.nav-flex
{
  float: left;
  width: 20vw;
  height: 85vh;
}
}

.new-request
{
  top:15vh;
	position: sticky;
    z-index:2
}

.old-request
{
  position: relative;
  left: 15vh;
}
@media only screen and (max-width: 600px) {
  .new-request
  {
    top:25vh;
  	position: sticky;
      z-index:2;
    height: 50vh;
  }
  .old-request
  {
    left:0;
  }
}


.admin
{
  width: 75vw;
}
@media only screen and (max-width: 600px) {
  .admin
  {
    width: 90vw;
  }
}
