.header {
  top: 0;
  width: 100%;
  height: 15vh;
  display: inline-block;
  position: fixed;
  text-align: center;
  z-index: 2;
}
.header h2 {
  margin: 0;
}
.header h1 {
  display: inline-block;
  padding-top: 10px;
  margin: 0;
}
@media only screen and (max-width: 600px) {
  .header {
    width: 100%;
    height: 15vh;
    display: inline-block;
    position: fixed;

    text-align: center;
  }
  .header h1 {
    font-size: 24px;
  }
  .header h2 {
    font-size: 22px;
  }
}

.nav-flex {
  top: 15vh;
  width: 100%;
  position: fixed;
  z-index: 2;
}

@media only screen and (min-width: 768px) {
  .nav-flex {
    float: left;
    width: 20vw;
    /* height: 85vh; */
    height: 100%;
  }
}
.new-request {
  position: fixed;
  margin-top: 12vh;
  z-index: 1;
  width: 100%;
}
.old-request {
  position: absolute;
  top: 65vh !important;
  left: 20vw;
}

@media only screen and (max-width: 600px) {
  .new-request {
    position: fixed;
    margin-top: 19vh;
    z-index: 1;
    width: 100%;
  }
  .old-request {
    position: absolute;
    top: 80vh !important;
    left: 0;
  }
}
.admin {
  margin-top: 15vh;
  width: 75vw;
  margin-left: auto !important;
  margin-top: 15vh !important;
}
@media only screen and (max-width: 600px) {
  .admin {
    width: 90vw;
    margin-top: 22vh !important;
    margin-left: auto !important;
  }
}

.AppliedJobs {
  margin-top: 15vh;
  margin-left: 20vw;
  display: inline-block;
  width: 80vw;
  height: max-content;
}
